* {
    padding: 0;
    margin: 0;
}

body {
    background: url('http://www.siteduzero.com/bundles/common/images/background.png');
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header {
    background: #002d40;
    border-bottom: 4px solid #03638b;
    color: white;
    padding: 20px 0;
	/* La belle ombre :D */
	box-shadow: 0 0 14px rgba(0, 0, 0, 0.7); 
	position:relative;
	z-index:1;
}

.container {
    margin: auto;
    width: 600px;
}

p.champ {
	margin-top: 20px;
}

p.champ:first-of-type {
	margin-top: 10px;
}

.options {
    background-color: white;
    padding: 20px;
}

.clear {
    clear: both;
}

input[type="button"] {
    border: solid 1px #CCC;
    color: #fff;
    border: 1px solid #00293a;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px 0 #478caa;
    box-shadow: inset 0 1px 1px 0 #478caa;
    background-color: #024967;
    background-image: -webkit-linear-gradient(top,#036289 0,#195b77 49%,#024967 50%,#002e41 100%);
    background-image: linear-gradient(top,#036289 0,#195b77 49%,#024967 50%,#002e41 100%);
    text-shadow: 0 -1px 0 #1c181b;
    padding: 10px;
    font-size: 14px;
	margin-top: 10px;
    float: right;
}

input[type="button"]:hover {
    -webkit-box-shadow: inset 0 0 10px 0 #00b4ff;
    box-shadow: inset 0 0 10px 0 #00b4ff;
}

input[type="button"]:active {

    -webkit-box-shadow:inset 0 -1px 0 0 #4288a5;
    box-shadow:inset 0 -1px 0 0 #4288a5;
    background-image:linear-gradient(top,#001a25 0,#036188 100%);
}

span.complement {
	color: #999;
	font-size: 10px;
	display: block;
}

div.sub {
	border-left: solid 4px #ddd;
	padding-top: 5px;
	padding-left: 10px;
}

.hidden {
	display: none;
}

.experimental {
    color: #df3716; 
    font-weight: bold;
    font-size: 12px;
}

footer {
    background-color: #f8f8f4;
    padding: 15px 0;
    font-weight: bold;
    color: #454545;
    font-size: 12px;
    text-align: right;
    margin-top: 20px;
}

footer a {
    text-decoration: none;
    color: #03638b;
}

footer a:hover {
    color: #065070;
}

footer p {
    margin: 5px 10px;
}
